[submodule "themes/Hacker"]
	path = themes/Hacker
	url = https://github.com/CodeDaraW/Hacker.git
[submodule "themes/chic"]
	path = themes/chic
	url = https://github.com/Siricee/hexo-theme-Chic.git
[submodule "themes/prontera"]
	path = themes/prontera
	url = https://github.com/AngryPowman/hexo-theme-prontera
